<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="35527Liquid47.StarTrekMovieFan" Publisher="CN=3EEE984A-A746-4D1B-82C4-1F9317801DDF" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Star Trek Movie Fan</DisplayName>
    <PublisherDisplayName>Family Apps</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="InfoHub.App">
      <VisualElements DisplayName="Star Trek Movie Fan" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="InfoHub" ForegroundText="light" BackgroundColor="black">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="infohub" />
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="dpeusw" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>